body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
}
.header-container {
    background-color: #EEF0F4;
    box-shadow: 3px 3px 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    padding: 1em 0;
}

nav {
    width: 40%;
}

/* LINKS */
a:link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: #1E0253;
    transition: 400ms;
}

nav a:hover {
    color: #761E7C;
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0.8em;
    border-radius: 10px;
    transition: 400ms;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* PRINCIPAL */
main .titulo{
    color: #180142;
    font-size: 2.5em;
    font-weight: 600;
}

main .titulo-b{
    color: white;
    font-size: 2.5em;
    font-weight: 600;
}

main strong {
    font-weight: bold;
}

.principal-container {
    background: linear-gradient(90deg, #1E0253 55%, #761E7C);
    padding-top: 100px;
}

.principal {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}

/* LADO <<< */
.coluna-esquerda {
    
    color: white;
}

.coluna-esquerda h1 {
    font-size: 5em;
}

.coluna-esquerda p {
    font-size: 1.7em;
    margin: 1em 0;
}

.coluna-esquerda button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #128622;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 400ms;
}

.coluna-esquerda button:hover {
    background-color: #1aad2e;
    transition: 400ms;
    cursor: pointer;
}

.coluna-esquerda button img {
    width: 25px;
    padding: 0px 0px 0px 10px;
}

/* LADO >>> */
.coluna-direita {
    margin: 40px 50px 40px 0px;
}

/* VANTAGENS */
.vantagens {
    background-color: #F3F5F5;
    padding: 6em 4em;
    color: #263238;
    text-align: center;
}

.vantagens-container {
    
    display: flex;
    justify-content: space-evenly;
}

.conteudo-vantagens-container {
    width: 300px;
    background-color: #ffffff;
    padding: 2em;
    margin: 2em 0.8em;
    border-radius: 10px;
    box-shadow: 0px 0px 2px;
}

.conteudo-vantagens-container:hover {
    box-shadow: 0px 0px 8px;
}

.conteudo-vantagens-container img {
    width: 300px;
    right: 200px;
}

.conteudo-vantagens-container h2 {
    font-size: 1.3em;
    font-weight: 500;
    margin: 1em 0;
}

.conteudo-vantagens-container p {
    line-height: 1.3em;
}

/* ESPECIALISTA */
.especialista {
    background: linear-gradient(20deg, #761E7C,  #1E0253 65%);
    text-align: center;
    color: white;
    padding: 6em 4em;
}

.especialista-container {
    margin-top: 4em;
    display: flex;
    align-items: center;
}

.especialista-coluna-esq {
    width: 40%;
    margin: 0 3em;
}

.especilista-coluna-dir p{
    margin: 0.5em 3em;
    text-align: start;
    font-size: 1.2em;
    line-height: 1.4em;
}

/* ATENDIMENTO */
.contato {
    background-image: url(imgs/gd-contato.jpg);
}

.contato-container {
    padding:2em 0;
    text-align: center;
    width: 100%;
    background-color: #eef0f4d8;
}

.contato-container p {
    padding: 1.5em 0;
}

.atendimento-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.atendimento-esq {
    text-align: start;
    width: 50%;
    margin: 0 auto;
}

.atendimento-esq h2 {
    font-size: 2em;
    font-weight: 600;
    color: #1E0253;
}

.atendimento-esq h3 {
    font-size: 1.5em;
    color: #1E0253;
    margin: 1em 0;
    line-height: 1.3em;
}

.mapa iframe {
    margin-top: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
}

.atendimento-dir {
    margin: 0 auto;
    padding: 3em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

form {
    text-align: start;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.2em;
    color: #180142;
    font-weight: 500;
    line-height: 1.5em;
}

form input {
    margin-bottom: 1em;
    padding: 4px;
    border-radius: 5px;
}

legend {
    margin: 0.5em 0;
}

select {
    margin: 10px 0;
    width: 30%;
    background-color: #180142;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 7px;
}

.botao {
    border-radius: 10px;
    background-color: #128622;
    color: white;
    font-size: 1.3em;
    padding: 0.3em;
    margin-top: 1em;
    transition: 400ms;
}

.botao:hover {
    background-color: #1aad2e;
    transition: 400ms;
    cursor: pointer;
}

footer {
    background-color: #180142;
    text-align: center;
    color: #f2f2f2f2;
    padding: 1em 0;
}

/*  RESPONSIVIDADE */

@media (max-width:600px) {

    /* HEADER */
    header {
        width: auto;
        padding: 0 1em;
        display: flex;
                
    }

    nav {
        width: auto;
    }

    .menu li {
        padding: 0.5em;
        font-size: 0.8em;

    }

    .logotipo {
        width: 20%;
    }


    /*AJUSTANDO NA TELA */

    .principal-container, .coluna-esquerda, .coluna-direita, .especialista, .contato, .especialista-coluna-esq, .especialista-coluna-dir {
        width:auto;
    }

    .vantagens, .especialista, .especialista-container  {
        padding: 0;
    
    }

    .principal, .vantagens-container, .especialista-container, .atendimento-container{
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .coluna-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .coluna-esquerda h1{
        font-size: 3.8em;
    }

    .coluna-esquerda p {
        font-size:1.2em;
    }

    .coluna-esquerda button {
        margin: 1em 0;
    }

    .coluna-esquerda a {
        font-size: 0.8em;
    }

    .coluna-direita {
        text-align: center;
        margin: 0;
    }

    .coluna-direita img {
        width: 90%;
        margin: 2em 0;
    }

    /* VANTAGENS */
    .vantagens {
        padding: 1.5em;
    }

    .vantagens-container{
        align-items: center;
    }

    .vantagens > p {
        font-size: 1.7em;
        padding: 1.5em 0;
    }

    .conteudo-vantagens-container {
        margin: 1em 0;
    }

    /* ESPECIALISTA */
    .especialista {
        padding: 1.5em;
    }

    .especialista > p {
        font-size: 1.7em;
        padding: 1.5em 0.9em;
    }

    .especialista-container {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .especialista-coluna-esq img {
        width: 90%;
        margin-bottom: 1em;
    }

    .especilista-coluna-dir p {
        margin: 0.5em;
    }

    /* ATENDIMENTO */

    .contato {
        width: auto;
    }

    .contato-container {
        width: auto;
        margin: 0;
        padding: 1.5em;
        background-color: #EEF0F4;
    }

    .contato-container p {
        width: auto;
        font-size: 2.2em;
        padding: 1.5em 0.9em;
    }


    .atendimento-esq {
        margin: 0;
        width: 80%;
        display:flex;
        flex-direction: column;
    }

    .atendimento-esq h2 {
        text-align: center;
        font-size: 1.5em;
    }

    .atendimento-esq h3 {
        font-size: 1.3em;
    }

    .atendimento-esq strong {
        margin: 0 auto;
    }

    .atendimento-dir{
        margin: 0;
        padding: 0;
    }

    .mapa {
        text-align: center;
        width: 100%;
        margin-bottom: 2em;
    }

    .mapa strong {
        font-size: 1.5em;
    }

    .mapa iframe {
        width: 100%;
    }

    .atendimento-dir {
        padding: 1.5em;
    }
}